- SRC :  https://www.kaggle.com/datasets/yogeshtekawade/banking-and-customer-transaction-data
    - bank_data.csv - performance financière des agences bancaires données synthétiques mais réalistes, avec du bruit et des valeurs manquantes pour simuler un environnement réel
        Ce fichier offre une vue macro sur la performance des agences. Il peut être utilisé pour enrichir les données clients avec des indicateurs régionaux ou pour des analyses géographiques.

## Chargement des données
## Nettoyage des données

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import os

c:\Users\Admin\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
directory_path = r'C:\Users\Admin\Desktop\BankingMLProject\data'
filename = 'bank_data.csv'
filename_path = os.path.join(directory_path, filename)
print(os.path.join(directory_path, filename))
filename_path

C:\Users\Admin\Desktop\BankingMLProject\data\bank_data.csv

'C:\\Users\\Admin\\Desktop\\BankingMLProject\\data\\bank_data.csv'

In [3]:
# Chargement du fichier
df = pd.read_csv(filename_path)

In [4]:
# Affichage des 5 premières lignes pour inspection
df.head()

   Branch_ID     City Region  Firm_Revenue  Expenses  Profit_Margin
0       1000  Solapur   East      422443.0    346471          56.31
1       1001   Mumbai  North      211155.0    216256          79.53
2       1002   Nashik   West      985006.0     71777          55.31
3       1003  Solapur  North       55113.0    253655           2.57
4       1004   Nagpur   West      282701.0    148194         -14.10

In [5]:
print(df.columns)

Index(['Branch_ID', 'City', 'Region', 'Firm_Revenue', 'Expenses',
       'Profit_Margin'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Branch_ID      1000 non-null   int64
 1   City           1000 non-null   object
 2   Region         1000 non-null   object
 3   Firm_Revenue   950 non-null    float64
 4   Expenses       1000 non-null   int64
 5   Profit_Margin  1000 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 47.0+ KB

 - conversion nécéssaire des dtypes: float64(2), int64(2), object(2)
    1   City object 
    2   Region         object 
    3   Firm_Revenue   float64  
    5   Profit_Margin  float64

In [7]:
df.describe()

         Branch_ID   Firm_Revenue      Expenses  Profit_Margin
count  1000.000000     950.000000    1000.00000    1000.000000
mean   1499.500000  514074.181053  265325.99100      24.561410
std     288.819436  278665.374536  140572.96154      42.757352
min    1000.000000   51241.000000   20520.00000     -49.500000
25%    1249.750000  260637.500000  145412.75000     -13.470000
50%    1499.500000  518348.500000  265404.00000      24.320000
75%    1749.250000  746103.750000  394530.50000      61.475000
max    1999.000000  999975.000000  499568.00000      99.970000

In [8]:
df.nunique()

Branch_ID        1000
City                6
Region              4
Firm_Revenue      950
Expenses          999
Profit_Margin     974
dtype: int64

## Nettoyage des données

In [9]:
# Vérification des valeurs manquantes
df.isnull().sum()

Branch_ID         0
City              0
Region            0
Firm_Revenue     50
Expenses          0
Profit_Margin     0
dtype: int64

In [10]:
missing_values = df.isnull().sum()
percentage_missing_values = (missing_values / len(df)) * 100
total_missing_values = df.isnull().sum().sum()
total_cells = df.shape[0] * df.shape[1]
total_missing_percentage = (total_missing_values / total_cells) * 100

In [11]:
print(percentage_missing_values)
print(total_missing_values)
print(total_cells)
print(total_missing_percentage)

Branch_ID        0.0
City             0.0
Region           0.0
Firm_Revenue     5.0
Expenses         0.0
Profit_Margin    0.0
dtype: float64
50
6000
0.8333333333333334

In [12]:
df_imputed_mean = df.copy()

In [13]:
df_imputed_mean['Firm_Revenue'].fillna(df_imputed_mean['Firm_Revenue'].mean(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13376\1179901816.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_imputed_mean['Firm_Revenue'].fillna(df_imputed_mean['Firm_Revenue'].mean(), inplace=True)

In [14]:
# Vérification des doublons
df.drop_duplicates(inplace=True)

In [15]:
# Encodage des variables catégorielles
df_encoded = pd.get_dummies(df, drop_first=True)

In [16]:
# Sauvegarde du dossier 'transaction_data_cleaned' pour la suite du projet
output_directory = r"C:\Users\Admin\Desktop\BankingMLProject\data"

# Nom du fichier CSV de sortie
output_filename = "bank_data_cleaned.csv"

# Création du chemin complet du fichier de sortie
output_filepath = os.path.join(output_directory, output_filename)

#Sauvegarder du DataFrame nettoyé en CSV
try:
    # index=False pour ne pas écrire l'index du DataFrame comme une colonne dans le CSV
    df.to_csv(output_filepath, index=False)
    print(f"\nDataFrame nettoyé sauvegardé avec succès dans : {output_filepath}")
except Exception as e:
    print(f"\nUne erreur est survenue lors de la sauvegarde : {e}")

DataFrame nettoyé sauvegardé avec succès dans : C:\Users\Admin\Desktop\BankingMLProject\data\bank_data_cleaned.csv